<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="msr.plasma"
    android:versionCode="31"
    android:versionName="1.5.3">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:label="Privacy Settings"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:supportsRtl="true">

        <activity
            android:name="msr.plasma.LauncherActivity"
            android:label="Privacy Settings"
            android:launchMode="singleTop"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlasmaLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
